.add_student_input {
  border: none;
  font-size: 22px;
  text-align: right;
  cursor: pointer;
  /* overflow-y: auto; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  width: 500px;
  box-sizing: border-box;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add_student_input:focus {
    outline: none; 
}

.add_student_input::placeholder {
    font-family: 'Cormorant Infant', sans-serif;
    /* font-weight: bold; */
    font-style: italic;
}

.white_placeholder::placeholder {
    /* color: #D8DAD7; */
    color: #5a5c59;
    /* font-weight: bold; */
}

.add_student_big_input {
    text-wrap: wrap;
    resize: none;
    width: 98%;
}


.red_star {
    color: #ae1010;
    font-weight: bold;
}


/* ------------------------------------------------- */
.add_student_select {
    border: none;
    font-size: 22px;
    padding-right: 5px;
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.add_student_select:focus {
    outline: none; 
    border: none;  
}

.add_student_select_grade {
    width: 225px;
}

.add_student_select_level {
    width: 230px;
}

.add_student_select_success {
    width: 275px;
}









