/* ----------------- */

.facult_content {
  /* border: 1px solid red; */
  margin: 0 60px;
}


.facult_table {
  border-collapse: separate;
  border-spacing: 15px 0px;
  /* margin-top: 20px; */
  width: 100%;
}

.facult_table thead th {
  cursor: pointer;
  /* background-color: rgba(211, 162, 161, 0.8); */
  background-color: #d4aeac;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.3;
  border-bottom: 3px solid #d4aeac;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding: 12px;

  width: 25%;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 -10px 0 5px #E3E6E2;

}

.facult_table tbody tr {
  background-color: #d8dad7;
}

.facult_table tbody td {
  font-size: 1.15rem;
  height: 40px;
  text-align: center;
  padding: 12px;
  border-bottom: 5px solid #e3e6e2;
}

.facult_table tbody .bottom_td {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 12px;
  height: 14px;
}



